
    <div class="news">
      
    <div class="jumbotron section first-hero">
      <h1>News</h1>
    </div><!--first-hero-->
    
    <div class="jumbotron section news-content">
      
        <div class="pressroom col-sm-6">
          <div class="row">
          <div class="col-sm-6 pressroom-image">
            <img src="assets/images/icons/news-noword2.png" alt="newspaper icon"/>
            <ul>
              <li><a href="http://pressroom.itnamerica.org/category/itnmontereycounty/">Pressroom Blog</a></li>
            </ul>
          </div><!--pressroom-image-->
          <div class="col-sm-6 pressroom-title"><h3>Pressroom</h3></div>
        </div><!--row-->
        
        <!-- <div class="row">
          <div class="col-sm-6">
            <img src="assets/images/icons/events.png" alt="events icon"/>
          </div>
          <div class="col-sm-6"></div>
        </div> -->
        </div><!--pressroom-->
      
      <div class="newsletter col-sm-6 row">
        <div class="col-sm-6 newsletter-content">
          <img src="assets/images/icons/news-noword.png" alt="press icon"/>
          <ul style="">
            <li><a  
               href="assets/images/docs/newsletter/June_17_BillingNewsletter.pdf"  
               role="Billing News June 2017">Billing News June 2017</a></li>
            <li><a  
              href="assets/images/docs/newsletter/May_17_BillingNewsletter.pdf"  
              role="Billing News May 2017">Billing News May 2017</a></li>
            <li><a  
               href="assets/images/docs/newsletter/April_17_BillingNewsletter.pdf"  
               role="Billing News April 2017">Billing News April 2017</a></li>
            <li><a  
              href="assets/images/docs/newsletter/March_17_BillingNewsletter.pdf"  
              role="Billing News March 2017">Billing News March 2017</a></li>
            <li><a  
               href="assets/images/docs/newsletter/February_17_BillingNewsletter.pdf"  
               role="Billing News February 2017">Billing News February 2017</a></li>
            <li><a  
              href="assets/images/docs/newsletter/January_17_BillingNewsletter.pdf"  
              role="Billing News January 2017">Billing News January 2017</a></li>
            <li><a  
              href="assets/images/docs/newsletter/ITN_Newsletter_January_2017.pdf"  
              role="Billing News March 2017">ITN Newsletter January 2017</a></li>
            <li><a  
               href="assets/images/docs/newsletter/Quarterly_Newsletter_October2016.pdf"  
               role="Billing News February 2017">Quarterly Newsletter October 2016</a></li>
            <li><a  
              href="assets/images/docs/newsletter/October_16_BillingNewsletter.pdf"  
              role="Billing News October 2016">Billing News October 2016</a></li>
            <li><a  
               href="assets/images/docs/newsletter/September_16_BillingNewsletter.pdf"  
               role="Billing News September 2016">Billing News September 2016</a></li>
            <li><a  
              href="assets/images/docs/newsletter/August_16_BillingNewsletter.pdf"  
              role="Billing News August 2016">Billing News August 2016</a></li>
            <li><a  
               href="assets/images/docs/newsletter/July_16_BillingNewsletter.pdf"  
               role="Billing News July 2016">Billing News July 2016</a></li>
            <li><a  
              href="assets/images/docs/newsletter/May_16_BillingNewsletter.pdf"  
              role="Billing News May 2016">Billing News May 2016</a></li>      
            <li><a  
              href="assets/images/docs/newsletter/April_16_BillingNewsletter.pdf"  
              role="Billing News April 2016">Billing News April 2016</a></li>
            <li><a  
               href="assets/images/docs/newsletter/March_16_BillingNewsletter.pdf"  
               role="Billing News March 2016">Billing News March 2016</a></li>
            <li><a  
              href="assets/images/docs/newsletter/February_16_BillingNewsletter.pdf"  
              role="Billing News February 2016">Billing News February 2016</a></li>                      
        </ul>
        </div><!--newsletter-content-->
        <div class="col-sm-6 newsletter-title"><h3>Newsletters</h3></div>
      </div><!--newsletter-->
      
    </div><!--news-content-->
    
  </div><!--news-->