
    <div class="organization">
      <div class="jumbotron section .first-hero" id="first-hero-org">
        <h1>Organization</h1>
      </div><!--first-hero-->
        
        
        
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" ng-click="scrollTo('board')">Board of Directors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-click="scrollTo('start')">Start an ITN in your community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" ng-click="scrollTo('staff')">Staff</a>
          </li>
        </ul>
      
      
      <div class="section-container">
      <div class="container itn-green-bg">
      <section class="org-section" id="board">
        <h1>Board of Directors</h1>
        <div class="row mb-100">
          <div class="col-sm-4">
            <img src="assets/images/board/Louis_Algaze.jpg" alt="Louis Algaze Portrait"/>
            <h2>Louis Algaze</h2>
            <p class="title">Board Chair</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio1 = !showBoardBio1">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio1">
              <p>Louis is an IT professional who feels giving back to the community that he enjoys so much is an important part of being in it. Being a 1994 transplant to Monterey County, he plans on remaining in Monterey County so he can take advantage of all of the ITN credits he plans on accumulating. Because his main transportation vehicle is currently a bicycle he is especially concerned with safety on the roads.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img src="assets/images/board/Todd_Muck.jpg" alt="Todd Muck portrait"/>
            <h2>Todd Muck</h2>
            <p class="title">Board Vice-Chair</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio2 = !showBoardBio2">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio2">
              <p>Todd is Deputy Executive Director at the Transportation Agency for Monterey County. Todd has worked on transportation and regional planning issues in the Monterey Bay area for almost 20 years. Todd lives in Monterey with his wife and two school age sons. Todd is actively involved in Cub Scouts as a Den Leader and enjoys racing his sailboat on the Monterey Bay. Todd is a member of the America Planning Association and the American Institute of Certified Planners.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img src="assets/images/board/Fernando_DePaolis.jpg" alt="Fernando DePaolis portrait"/>
            <h2>Fernando DePaolis</h2>
            <p class="title">Board Secretary</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio3 = !showBoardBio3">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio3">
              <p>Fernando De Paolis is a professor and program chair at the Monterey Institute of International Studies, where he teaches Policy Analysis, Data Analysis, Regional Economics, and Development Economics. He is a Research Fellow with the Naval Postgraduate School’s CORE Lab, and with UCLA’s North American Integration and Development Center.</p>
              
              <p>He has been the Regional Economist with the Denver Regional Council of Governments, and a consultant for cities, counties, international organizations, and non-governmental organizations. Fernando De Paolis has a Ph.D. in Urban Planning from UCLA, where he also taught graduate level courses in regional economic analysis and mathematical modeling.</p>
            </div>
          </div><!--col-sm-4-->

        </div><!--row-->
          
        <div class="row mb-100">
          <div class="col-sm-4">
            <img src="assets/images/board/Eddie_Lomboy.jpg" alt="Eddie Lomboy portrait"/>
            <h2>Eddie Lomboy</h2>
            <p class="title">Board Treasurer</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio5 = !showBoardBio5">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio5">
              <p>Eddie is a Tax Manager with Ryan & McDonald, LLP in Salinas. His experience includes tax and assurance work in Tech, Hospitality, Real Estate, Agriculture, Legal, Medical and Non-Profit industries. Prior to starting his career in accounting, he worked in higher education at UC Santa Cruz and non-profit administration at Via Rehabilitation Services working with physically and developmentally disabled adults and children.</p>

              <p>Eddie is a graduate of San Jose State University where he completed the Gary J. Sbona honors program. In addition to his work with ITN Monterey County, Eddie serves as Treasurer for Marina PONY Baseball/Softball and The Palma Alumni Association. Additionally, he volunteers for San Carlos School and Marina Youth Soccer Association.</p>

              <p>Eddie grew up on the Monterey Peninsula attending San Carlos School, Palma High School and Hartnell College. He lives in Marina with his wife Anna and two sons. He enjoys golfing and fishing in the bay.<p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img src="assets/images/board/Jeff_Craig.jpg" alt="Jeff Craig portrait"/>
            <h2>Jeff Craig, CPCU</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio6 = !showBoardBio6">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio6">
              <p>For over forty years, Jeff was a partner and Chief Operating Officer of Monterey Insurance Agencies, a firm that dates back to 1888. During that time he served on local, state and national committees, receiving national recognition for his contributions. He taught insurance classes and served on educational and service boards.</p>

              <p>He graduated from Westminster College in Fulton, MO and served in the U.S. Naval Reserve, COMSERVPAC, at Pearl Harbor from 1969-71. Craig is an Elder and Deacon of the Carmel Presbyterian Church. He has served on many non-profit boards, including the Chamber of Commerce, Volunteers in Action, Lyceum of the Monterey Peninsula, Active 20-30 Club, Scottish Society, Monterey County Symphony, Del Monte Forest Property Owners, and the Del Monte Forest Foundation. He has been Chieftain of the Monterey Scottish Festival.</p>

              <p>Craig and his wife Carolyn have been residents of Pebble Beach since 1971. They have two adult children, Kimbley and Danny.</p>
            </div>
          </div><!--col-sm-4-->
        
          <div class="col-sm-4">
            <img src="assets/images/board/Jill_Sheffield.jpg" alt="Jill Sheffield portrait"/>
            <h2>Jill Sheffield</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio7 = !showBoardBio7">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio7">
              <p>Jill Sheffield has been the President/CEO of The Carmel Foundation since early 2005, is a business executive who has made time throughout her career to take leadership roles in numerous community activities, both on the Monterey Peninsula and elsewhere. In addition to her extensive management and leadership skills, Jill has considerable fundraising, community relations and organizational experience.</p>

              <p>Jill's background includes 32 years with United Airlines, most recently as Managing Director of Sales for its Western Region. Her previous positions for United Airlines included Managing Director for the Los Angeles Metro Area, City Manager for San Diego and General Manager for Monterey.</p>

              <p>In addition to her work at The Carmel Foundation, she is an active member of the Rotary Club of Carmel-by-the-Sea; she is currently on the VNA Board of Directors and is Chairman of the Board of Peninsula Primary Care, an affiliate of Community Hospital of the Monterey Peninsula. Formerly she also served on the Board of the Carmel Chamber of Commerce and the bond oversight committee for the Carmel Unified School District.</p>

              <p>A native Californian, Jill holds a bachelor's degree from San Francisco State University. She and her husband have been residents of the Monterey Peninsula since 1988.</p>
            </div>
          </div>
        </div><!--row-->
        
        <div class="row mb-100">
        <div class="col-sm-4">
          <img src="assets/images/board/Monique.jpg" alt="Monique LeBlanc portrait"/>
          <h2>Monique LeBlanc</h2>
          <p class="title">Board Member</p>
          <button type="button" class="btn btn-lg" ng-click="showBoardBio8 = !showBoardBio8">READ MORE</button>
          
          <div class="showBoardBio" ng-show="showBoardBio8">
            <p>Monique grew up in San Joaquin Valley and lived there for most of her childhood. She moved to Monterey 16 years ago to continue her education at California State University Monterey Bay. Monique found her passion for the banking industry and has been doing it for over 14 years now. She enjoys developing other people and making a positive impacts in their lives. Through Wells Fargo Bank she’s allowed to stay very active in the Monterey Peninsula, focusing on community outreach and helping out local nonprofits.</p>
          </div>
        </div><!--col-sm-4-->      
      
        <div class="col-sm-4">
          <img src="assets/images/board/photo_soon.jpg" alt="Jeff Lamb portrait"/>
          <h2>Jeff Lamb</h2>
          <p class="title">Board Member</p>
          <button type="button" class="btn btn-lg" ng-click="showBoardBio9 = !showBoardBio9">READ MORE</button>
          
          <div class="showBoardBio" ng-show="showBoardBio9">
            <p>Bio coming soon!</p>
          </div>
        </div><!--col-sm-4-->  
      
      <div class="col-sm-4">
        <img src="assets/images/board/Bob_Johnson.jpg" alt="Bob Johnson portrait"/>
        <h2>Bob Johnson</h2>
        <p class="title">Board Member</p>
        <button type="button" class="btn btn-lg" ng-click="showBoardBio10 = !showBoardBio10">READ MORE</button>
        
        <div class="showBoardBio" ng-show="showBoardBio10">
          <p>Bob Johnson, a Monterey County Native, except for four years at Stanford University, has spent his entire life here. Grew up on a livestock ranch in Salinas Valley, and was involved in the conversion of grazing land into irrigated crop land. As a boy saw farm implements pulled by horses, and by retirement in 1993, saw 300 horsepower tractors which were guided by GPS. </p>
          
          <p>After retirement, moved to Pacific Grove and got involved with the conversion of part of Fort Ord into a university, California State University Monterey, or CSUMB. Served six years on their Philanthropy Board, and still work with the Dean of the Science Department to develop curriculum to serve the needs of our agriculture industry. In the summer I conduct Ag Tours for adults. </p>
          
          <p>Beyond supporting the Ag industry and CSUMB, I am an avid supporter of the Monterey Bay Aquarium, Save our Shores, American Heart Association and Yosemite Conservancy (Did you know Ansel Adams home and darkroom still exist in Carmel Highlands. In 2014 I was recognized as Philanthropist of the Year for the tri county area.</p>
        </div>
      </div><!--col-sm-4-->

  </div><!--row-->
        
      </section>
    
      <section class="org-section" id="start">
        <img class="itn-icon" src="assets/images/icons/itn3.png" alt="ITN icon"/>
        <div class="jumbotron section copy itn-lightgreen-bg">
          <div class="row center-70">
            <div class="col-md-9 ta-center">
              <a class="start-itn" href="https//www.itnamerica.org">Start an ITN in your Community</a>
            </div>
            <div class="col-md-3 mt-25" style="overflow:hidden">
              <img id="flying-bird" src="assets/images/start-bird.jpg"/>
            </div>
            </div>
        </div><!--jumbo-->
          
        <div class="jumbotron section national">
            <div class="row">
              <div class="col-sm-9" style="background: rgba(255,255,255,0.6);">
                <!-- <h2>The Power of a National Network</h2> -->
                  <p>ITN<em>MontereyCounty</em> is part of the ITN<em>America</em> family, which unites organizations across the country working to support the transportation needs of older people. The ITN<em>America</em> model offers a platform for dignified, sustainable mobility using technological solutions and innovative programming. We welcome your interest, and hope you will consider the benefits of having an ITN affiliate in your area.
                  To learn more, <a ui-sref="contact">contact us </a></p>
              </div><!--national-->
            </div><!--row-->
          </div><!--national-->
            
            <!-- <div class="jumbotron section technology">
            <div class="row">
              <div class="col-sm-offset-3 col-sm-9" style="background: rgba(255,255,255,0.6);">
                <h2>The Power of Technology</h2>
                <p>Our proprietary ITNRides™ software system enables us to leverage our expertise and to simplify operations for all our affiliates.</p>

                <p>It connects every ITN affiliate community into one effective centralized national network that manages the logistics of the senior transportation service, including member and volunteer management and ride scheduling.</p>

                <p>All ITN affiliates access the software through an internet connection and store their information at our secure data center. The collected data is used for a variety of purposes; including helping social researchers better understand senior mobility and its effects on society. ITN technology provides everything needed to deliver logistical efficiency to a very complex problem.</p>

                <p>ITN is quickly linking cities and citizens across the country and that's just the beginning. Soon, ITN will grow beyond the cities and suburbs to the small towns and rural communities where the unmet need is so great. Our goal is to provide the expertise, tools and state-of-the-art technology that will allow small organizations to serve more and more people without additional resources or funds. We call this project ITNEverywhere</p>
              </div>
            </div>
        </div> -->
          </section>

          <section class="org-section" id="staff">
            <h1>Staff</h1>
            <div class="container">
          
              <div class="row mb-100">
              <div class="col-sm-4">
                <img src="assets/images/board/Jessica_McKillip.jpg" alt="Jessica McKillip portrait"/>
                <h2>Jessica McKillip</h2>
                <p class="title">Executive Director</p>
                <button type="button" class="btn btn-lg" ng-click="showBoardBio11 = !showBoardBio11">READ MORE</button>
                
                <div class="showBoardBio" ng-show="showBoardBio11">
                  <p>A California native raised on a small family farm in the Central Valley who moved to Monterey in 2000 to attend Cal State Monterey Bay where she graduated with a dual major in Public Health & Social Work. Her work in the non profit sector since 2006 has stretched from operating local farmers markets, expanding a healthy eating program into local after-school programs, to operating a business district with numerous committee projects in the historic Oldtown Salinas region. </p>
                  <p>While Jessica has lived on the peninsula for over 15 years she has volunteered with the following organizations: Marina Chamber of Commerce, Salinas Valley Food & Wine Festival, Monterey Young Professionals Group, and Junior League of Monterey County. She cares deeply for her community and is excited to be at the helm of an organization changing the way transportation looks and feels for seniors and visually impaired adults. </p>
                </div>
              </div><!--col-sm-4-->      
            
            <div class="col-sm-4">
              <img src="assets/images/board/photo_soon.jpg" alt="Anahi Reyes portrait"/>
              <h2>Anahi Reyes</h2>
              <p class="title">Transportation Coordinator</p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio12 = !showBoardBio12">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio12">
                <p>Anahi was born in Mexico and moved to the US to provide a better future for her family. She currently lives in Salinas, CA where she homeschools her two children and keeps them active with sports, art, and social activities. Anahi has a Bachelor’s of Science in Business from California State University Monterey Bay, and holds an active CA State Life, Property & Casualty license since 2007. </p>
                <p>She enjoys the interaction with ITN<em>Monterey County</em> clients who are thankful for the services provided, and finds comfort knowing that becoming a senior is not a setback but a positive way of living independently as we age. She loves to read, explore new places in California with her family, and travel to Mexico whenever possible.</p>
              </div>
            </div><!--col-sm-4-->  
          
          <div class="col-sm-4">
            <img src="assets/images/board/photo_soon.jpg" alt="Cheryl Tsuchiura portrait"/>
            <h2>Cheryl Tsuchiura</h2>
            <p class="title">Transportation Coordinator</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio13 = !showBoardBio13">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio13">
              <p>Cheryl was born and raised on the Monterey peninsula, then moved to Salinas where she’s lived for 15 years.
                Working for ITN Monterey County is something close to her heart and supports the opportunity given through ITN for seniors to go out feeling safe and independent. </p>
              <p>Cheryl was raised by her great aunt who was a senior, while her parents worked to support the family. She is a working full time mother, a huge foodie, and loves spending time with her family. Cheryl has been with ITN Monterey Count since the summer of 2016, and looks forward to watching the organization grow. She would like to continue her higher education in Psychology or Family Therapy/Counseling.</p>
            </div>
          </div><!--col-sm-4-->
          </div><!--row-->
          
          <div class="row mb-100">
          <div class="col-sm-4">
            <img src="assets/images/board/diane.jpg" alt="Diane Rennie portrait"/>
            <h2>Diane Rennie</h2>
            <p class="title">Transportation Coordinator</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio11 = !showBoardBio11">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio11">
              <p>Diane Rennie is a native of Canada who moved to the US in 2001, and currently residing in Salinas, CA. Her experience with seniors comes from managing a senior's apartment complex in Santa Cruz for 8 years. Most recently she spent 2 years advocating for and assisting homeless people acquire housing in Contra Costa County. Diane enjoys conversing with the ITN members, they are so grateful. When she is not working she is probably out running, her most recent race was a half marathon in Death Valley.</p>
            </div>
          </div><!--col-sm-4-->    
        </div><!--row-->
        
        </div><!--container-->
        </section>
          
          
        </div><!--container-->  
    
      </div><!--lightgreen div-->
    </div><!--organization-->


  <script>
    new WOW().init();
  </script>